body {
    padding: 0px 0px;
    overflow: hidden;
    margin:0;
}

button{
    padding: 5px 5px;
    flex-direction: row;
    margin:20px;
    border-radius: 15%;

}

header {
    display:flex;
    justify-content:space-around    ;
    background-color:grey;
    align-items:center;
}




.pixelify-sans-GameFont {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
ul {
    display: flex;
    list-style: none;
}



/* li {
  float: right;
  
} */


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius:10%;
}

li a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color: green;
  border-radius:10%;

}



.fa_fa-use{
    margin-left:10vw
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
    display:left;
    height:50px;
    /* background-image: url("images/map.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated; */
    

}


.main-content {
    display: grid;
    grid-template-columns: 50% 50%;
    /* margin-top:10%; */
    
  }

  
.columns {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 90%;
    text-align: left;
    width: 80%;
    height: 100f;
    margin-top:15%;
    margin-left: 20px;
    margin-right: 10px;
    padding: 1px 1px;
    position: relative;
  }

.background-image{
    background-image: url(../images/sky.png);
    background-repeat: no-repeat;
    background-size:cover;
    width:100vw;
    height:100vh;
    background-attachment:fixed;
    image-rendering: pixelated;
}

/* styling search bar */
.search input[type=text] {
    width: 25vw;
    height: 5vh;
    border-radius: 25px;
    border: none;
    
}

.search {
    display:flex;
    justify-content:space-around;
    align-items:center;

}

.search button {
    background-color: #0074D9;
    color: #f2f2f2;
    font-size: 12px;
    border:none;
    cursor: pointer;
}

.score{
    color:white;
}

.profileImage{
    width: 10vw;
    height: 16vh;
}

.logo{
    width:5vw;
    height:10vh;
}