body {
    padding: 0px 0px;
    /* overflow: hidden; */
    margin:0;
}

@media screen and (max-width: 600px) {
  body .main-content .columns {
    overflow: auto;
    margin-bottom: 50%;
  }
  
}

#ScrollOff{
  overflow: hidden;
}

button{
    padding: 5px 5px;
    flex-direction: row;
    margin:20px;
    border-radius: 15%;

}

header {
    display:flex;
    justify-content:space-around    ;
    background-color:grey;
    align-items:center;
}




.pixelify-sans-GameFont {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}
header ul {
    display: flex;
    list-style:none;
}
ol{
 margin-bottom: 100%;
}



header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius:10%;
}

header li a:hover:not(.active) {
  background-color: black;
}

.active {
  background-color: green;
  border-radius:10%;

}



.fa_fa-use{
    margin-left:10vw
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
    height:50px;
 

}


.main-content {
    display: grid;
    grid-template-columns: 50% 50%; 
  }

 
  


.columns {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 90%;
    text-align: left;
    width: 80%;
    min-height: 100vh;
    margin-top:15%;
    margin-bottom:15%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1px 1px;
    position: relative;
  }


.background-image{
    background-image: url(../images/sky.png);
    background-repeat: repeat;
    background-size:cover;
    width:100%;
    
    background-attachment:fixed;
    image-rendering: pixelated;
    
}

.search input[type=text] {
    width: 25vw;
    height: 5vh;
    border-radius: 25px;
    border: none;
    
}

.search {
    display:flex;
    justify-content:space-around;
    align-items:center;

}

.search button {
    background-color: #0074D9;
    color: #f2f2f2;
    font-size: 12px;
    border:none;
    cursor: pointer;
}

.score{
    color:white;
}

.profileImage{
    height: 16vh;
    max-width: 20vw;
    animation-name: heroJump;
    animation-duration: 2s;
    position: relative;
    animation-iteration-count: infinite;

}

@keyframes heroJump {
  0%   {left:0px; top:0px;}
  50%  {left:0px; top:20px;}
 
  100% {left:0px; top:0px;}
}

.logo{
    height:10vh;
    max-width:15vw;
}

table{
  width:100%
}
table, th, td {
  border:1px solid black;
}

.high-scores-header-and-footer{
  background-color:rgb(35, 130, 189);
}
.high-scores-row{
  background-color:lightskyblue;
}

.spinning-coin{
  width:4%;
  /* content:url("../images/coin-shine1.gif"); */

  
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}

.container{
  border-radius: 10px;
  background-color: #f2f2f2;
  padding : 20px;
}


textarea{
  height: 50px;
}

.name-email-container {
  margin-bottom: 10px;
}

.name-email-container ul {
  list-style: none;
}

.popdown-hide {
  display: none;
}



